.app {
  background-color: rgba(33, 37, 41, 0.95);
}

.itemContainer {
  text-align: center;
  padding: 20px;
  color: #fff;
}

h2.container {
  margin-bottom: 0px;
}

.itemlist {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2px;
  height: 80vh;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.4)
  );
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.4);
}

.title {
  margin-bottom: 30px;
}

.containerCount {
  width: 20%;
  height: 50%;
  border-radius: 10px;
  background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.2)
  );
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.logo {
  width: 15vw;
  height: 15vh;
  filter: invert();
}
.section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 24px;
  height: 24px;
  background: #000000f7;
  border: none;
  border-radius: 5px;
  color: #ffffff;
}

.number {
    margin: 0px 10px;
}

.addCart {
  background: #000000f7;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  padding: 5px;
}

.btn:hover,
.addCart:hover {
  background-color: #343a40;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.4);
  transition: 0.3s;
}
